header {
  height: 50px;
  background: magenta
  
}


body {
  background: aqua;
  
}

img {
  float: right;
  margin-left: 20px;
  
}

h4 {
  color: red;
  
}

p{
  color:gray
  
}

li{
  color: purple
}
